/*Universal styles*/

body {
	margin: 0;
	font-family: "Helvetica Neue",sans-serif;
}

.primary-text{
  color:#47a0ce;
}
.primary-background{
  background-color:#47a0ce;
}
.secondary-text{
  color:white;
}

.gray-border{
	border: 1px solid #8899a6;
}

#menu ul{
	padding: 0;	
	list-style-type:none;
  	margin-left: auto;
  	margin-right: auto;
}

li{
	display: inline-block;
	margin: 0px 8px;	
}

.button{
	border-radius: 6px;
	float: right;
	text-align: center;
}

/*Header*/

.header{
	height: 100px;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 50px;
}

.logo{
	height: 50%;
	width: 50%;
	float: left;
	padding-top: 15px;
}

#logout-button{
	height: 20%;
	width: 5%;
	background-color: white;
	padding: 5px 5px;
	margin-top: 35px;
}

/*Main body containers*/

.container{
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 50px;
	overflow: auto;
}

.sidebar{
	width: 24%;
	float: left;
}

.middle{
	width: 50%;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/*Main body content*/

img#person-left{
	height: 50%;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#info{	
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#follow_stats{
	width: 90%;
	background-color: white;
	margin: auto;
}

.tweets-containter{
	height: 355px;
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

.tweets{
	height: 15%;
	width: 90%;
	margin: 5% 5% 5% 5%;
	border-bottom: 1px solid gray;
}

.tweets:last-child{
	border-bottom: none;
}

.tweet-text{
	float: left;
	width: 50%;
	height: 90%;
}

#retweet-button{
	width: 25%;
	height: 40%;
	padding-top: 8px;
	font-size: 14px;
}

#follow_suggestions{
	height: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img#person-right{
/*	height: 10%;*/
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Footer*/

.footer{
	padding-top: 10px;
	text-align: center;
}

.footer-content{
	height: 100%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

img.footer {
	height: 40%;
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}